#------------------
# Aliases (for a full list of aliases, run `alias`)
#------------------

# General Aliases
# Open .zshrc in VS Code
alias change="code ~/.zshrc"
# Re-run source command on .zshrc to update current terminal session with new settings
alias update="source ~/.zshrc"

# View files/folder alias using colorsls (https://github.com/athityakumar/colorls)
alias l="colorls --group-directories-first --almost-all"
alias ll="colorls --group-directories-first --almost-all --long"

# Clear terminal
alias c="clear"

# Go back parent directory
alias ..="cd .."
alias ...="cd ../../../"
alias ....="cd ../../../../"
alias .....="cd ../../../../"

# Calculator with math support
alias bc="bc -l"

# Show open ports
alias ports="netstat -tulanp"
