#------------------
# Aliases (for a full list of aliases, run `alias`)
#------------------

# General Aliases
# Open .zshrc in VS Code
alias change="code ~/.zshrc"
# Re-run source command on .zshrc to update current terminal session with new settings
alias update="source ~/.zshrc"

# View files/folder alias using colorsls (https://github.com/athityakumar/colorls)
alias l="colorls --group-directories-first --almost-all"
alias ll="colorls --group-directories-first --almost-all --long"

# Clear terminal
alias c="clear"

# Calculator with math support
alias bc="bc -l"

alias ls='ls -G'                              # colorize `ls` output
alias grep='grep --color=auto'                # colorize `grep` output

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias rm='rm -i'                              # confirm removal
alias cp='cp -i'                              # confirm copy
alias mv='mv -i'                              # confirm move
alias weather='curl v2.wttr.in'

# update homebrew
alias brewup='brew update; brew upgrade; brew cleanup; brew doctor'
